<app-buttons-header
  (_onActionMarketing)="onActionMarketing()"
  (_onSendMessage)="onSendMessage()"
  (_onFilter)="onLoadFilter()"
  context="Consumo de clientes" >
  <div class="formgrid grid" fields>
    <app-input-number
      label="Data Ultima compra(em meses)"
      [minFractionDigits]="0"
      [maxlength]="2"
      class="c-margin col-12 md:col-12">
    </app-input-number>
    <app-dropdown
      label="Frequencia de compra"
      optionLabel="value"
      class="c-margin col-12 md:col-12"
      [options]="_purchaseFrequency">
    </app-dropdown>
    <app-input-number
      label="Valor total gasto"
      [minFractionDigits]="2"
      [maxlength]="10"
      class="c-margin col-12 md:col-12">
    </app-input-number>
    <app-auto-complete
      class="c-margin col-12 md:col-12"
      label="Grupo de produtos consumidos"
      type="text"
      route="Prod_win_fieldIDGrupo"
      optionLabel="DESCRICAO">
    </app-auto-complete>
    <app-input-number
      label="Quantidade de produtos consumidos"
      [minFractionDigits]="0"
      [maxlength]="10"
      class="c-margin col-12 md:col-12">
    </app-input-number>
    <app-input-number
      label="Desconto obtido"
      [minFractionDigits]="2"
      [maxlength]="2"
      class="c-margin col-12 md:col-12">
    </app-input-number>
    <app-input-number
      label="Segmentação valor unitario"
      [minFractionDigits]="2"
      [maxlength]="10"
      class="c-margin col-12 md:col-12">
    </app-input-number>
    <app-auto-complete
      class="c-margin col-12 md:col-12"
      label="Forma pagamento"
      type="text"
      [typeExplorer]="0"
      route="mnuCadastros_vendas_mnuFormaPgto"
      optionLabel="DESCRICAO">
    </app-auto-complete>
    <div class="c-margin col-12 md:col-12">Periodo de compras:</div>
    <app-input-date
      class="c-margin col-12 md:col-6"
      label="De">
    </app-input-date>
    <app-input-date
      class="c-margin col-12 md:col-6"
      label="Até">
    </app-input-date>
  </div>
</app-buttons-header>
<div  class="formgrid grid">
  <div class="c-margin col-12 md:col-12">
    <app-datatable
      [config]="datatable"
      dataKey="IDPessoa"
      (onSelectedRegister)="onSelectedData($event)"
      (onPageChange)="onLoadLastPurchase($event)">
    </app-datatable>
  </div>
</div>
<p-drawer
  [style]="{'height': '40rem', 'border-radius': '20px 20px 0 0'}"
  header="Produtos que este cliente ja consumiu"
  position="bottom"
  [(visible)]="openDetails">
  <div>
    <app-last-purchase-products>
    </app-last-purchase-products>
  </div>
</p-drawer>

