<app-buttons-header
  (_onActionMarketing)="onActionMarketing()"
  (_onSendMessage)="onSendMessage()"
  (_onFilter)="onLoadFilter()"
  context="Consumo de clientes" >
  <div class="formgrid grid" fields>
    <app-input-text
      class="c-margin col-12 md:col-12"
    >

    </app-input-text>
  </div>
</app-buttons-header>
<div  class="formgrid grid">
  <div class="c-margin col-12 md:col-5">
    <app-datatable
      [config]="datatable"
      dataKey="IDPessoa"
      (onSelectedRegister)="onSelectedData($event)"
      (onPageChange)="onLoadLastPurchase($event)">
    </app-datatable>
  </div>
  <div class="c-margin col-12 md:col-7">
    <app-last-purchase-products>
    </app-last-purchase-products>
  </div>
</div>

