@import "../../../styles/button";
.summary{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.table-old{
  max-height: 80%;
  overflow: auto;
}
.pop{
  height: 400px;
}

