<p-table
  [columns]="config.fields"
  [value]="config.values"
  styleClass="p-datatable-sm"
  selectionMode="single"
  [(selection)]="selectedItem"
  [metaKeySelection]="false"
  [autoLayout]="true"
  dataKey="IDPessoa"
  (onRowSelect)="onSelection($event)"
  [tableStyle]="{ 'min-width': '50rem'}">
  <ng-template pTemplate="caption">
    <div class="flex">
      <p-iconField iconPosition="left" class="ml-auto">
        <p-inputIcon>
          <i class="pi pi-search"></i>
        </p-inputIcon>
        <input
          pInputText
          type="text"
          placeholder="Buscar" />
      </p-iconField>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th [style]="'width:' + col.width " *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
    <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
      <td [style]="'width:' + col.width " *ngFor="let col of columns">
        {{ onRowData(rowData,col.field, col) }}
      </td>
    </tr>
  </ng-template>
  <ng-template *ngIf="showPagination" pTemplate="summary">
    <div class="summary">
      <p-button type="button"  icon="pi pi-refresh" styleClass="p-button-text" />
      <p-paginator
        (onPageChange)="pageChange($event)"
        [rows]="config.size"
        appendTo="body"
        dropdownAppendTo="body"
        [totalRecords]="config.totalRecords"
        [rowsPerPageOptions]="[5,10, 20, 30]" />
    </div>
  </ng-template>
</p-table>
