<div class="header col-12 md:col-12">
  {{ context }} <div *ngIf="_procesing" (click)="showLogs()" class="icon-send"><i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i></div>
</div>
<div class="btns col-12 md:col-12 buttons-space">
  <div class="buttons">
    <div style="margin-right: 5px">
      <ng-content class="w-full" select="[buttons]"></ng-content>
    </div>
    <div *ngIf="sendMessage" style="margin-right: 5px">
      <p-button  label="Enviar Mensagem" (onClick)="onSendMessage()" />
    </div>
    <div *ngIf="actionMarketing">
      <p-button (onClick)="onActionMarketing()" label="Ações de marketing"/>
    </div>
  </div>
  <div>
    <p-button *ngIf="filter" icon="pi pi-filter" (onClick)="onShowFilter()"/>
  </div>
</div>
<p-drawer header="Filtros" position="right" [(visible)]="_showFilters">

  <ng-template pTemplate="content">
    <ng-content class="w-full" select="[fields]"></ng-content>
    <p-button pRipple (click)="onFilter()"  [outlined]="false"  styleClass="p-button-rounded w-full  c-margin">
      <div class="btn-tx">
        Filtrar
      </div>
    </p-button>
  </ng-template>
</p-drawer>

<p-drawer  [style]="{'height': '40rem', 'border-radius': '20px 20px 0 0'}"  header="Logs de envios de mensagens" position="bottom" [(visible)]="_showLogs">
  <ng-template pTemplate="content">
  </ng-template>
  <div>
    <p-table showGridlines [value]="_logs" [tableStyle]="{ 'min-width': '50rem' }">>
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Status</th>
          <th>Origem</th>
          <th>Nome</th>
        </tr>
      </ng-template>
      <ng-template #body let-item>
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.status }}</td>
          <td>{{ item.origin }}</td>
          <td>{{ item.name }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-drawer>
