.custom-drawer {
  height: 40vh; /* Altura padrão */
}
.btns {
  display: flex;
}
.buttons {
  margin-right: 5px;
}
.header{
  font-size: 20px;
  font-weight: bold;
  display: flex;
  .icon-send{
    margin-left: 10px;
    cursor: pointer;
  }
}


