.analytics{
  padding: 10px;
  height: 100%;
  .analytics-panels{
    overflow-y: hidden;
    height: 100%;
    .default-consumer{

    }
  }
}
.btns {
  display: flex;
}
.buttons {
  margin-right: 5px;
}
