//@import "../../shared/styles/button";
.analytics{
  padding: 10px;
  height: 100%;
  .analytics-panels{
    height: 100%;
    .default-consumer{

    }
  }
}
.panel {
  height: 100%;
}
.btns {
  display: flex;
}
.buttons {
  margin-right: 5px;
}

.btn-tx{
  text-align: center;
  width: 100%;
}
.expiring-old{
  max-height: 90vh;
  overflow-y: auto;
}
