<app-loading [showLoading]="showLoading"></app-loading>
<div class="analytics">
  <div class="analytics-panels">
    <p-tabView>
      <p-tabPanel header="Padrões de consumo">
        <div class="formgrid grid">
          <div class="col-12 md:col-8">
            <app-last-purchase>
            </app-last-purchase>
          </div>
          <div class="col-12 md:col-4">
            <app-last-purchase-products>
            </app-last-purchase-products>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
